@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:ital,wght@0,300;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @screen lg {
    nav {
      a:not(.bg-verde) {
        text-decoration: none;
        background-image: linear-gradient(#FF4A00, #FF4A00);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        transition: background-size .5s;
        background-size: 0% 2px;
        &:hover,
        &.active {
          background-size: 100% 2px;
        }
      }
    }
  }
}